h1 {
    color: var(--ion-color-primary);;
}

a ion-icon {
    margin-right: 4px;
}

ion-card[no-shadow] {
    box-shadow: none;
    --color: var(--ion-color-primary);
    max-width: 80%;
}

li, blockquote, p {
    font-size: 20px;
    padding: 8px;
}

li ion-icon {
    font-size: 30px;
}

blockquote {
    font-style: italic;
}

strong {
    text-decoration: underline;
}

code {
    background: var(--ion-color-primary);
    color: var(--ion-color-secondary);
}

ion-list ion-label[text-wrap].sc-ion-label-md-h{
    font-size: 20px;
}